**Using the Yelp API (Practice)**

# **Task**

For this assignment, you will practice with the Yelp API and the concept of pagination.

* Use your API credentials to access the Yelp API
* You can choose the location and search term (food), but it must return more than 20 results so you can practice pagination!
* Obtain ONLY the first two pages of results
* Concatenate the results into one data frame
* Save the businesses as a records-oriented JSON file with an informative filename. (df.to_json("yelp-search-new-york-pizza.json", orient='records'))

# Solution

In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Additional Imports
import os, json, math, time
from yelpapi import YelpAPI
from tqdm.notebook import tqdm_notebook

In [2]:
# Use your API credentials to access the Yelp API
import json
with open(r'C:\Users\ASUS TUF\Documents\GitHub\data-enrichment-wk14-activity-mapping-yelp-api-results\.secret\yelp_api.json') as f:
    creds = json.load(f)
print(creds.keys())

dict_keys(['client-id', 'api-key'])

In [3]:
# set our API call parameters and filename before the first call
LOCATION = 'NY, NY'
TERM = 'Ramen'

# filename for saving the data
# json_filename = 'yelp_search_results.json'

In [4]:
# Instantiate YelpAPI Variable
yelp_api = YelpAPI(creds['api-key'], timeout_s=5.0)
yelp_api

In [5]:
# You can choose the location and search term (food), but it must return more than 20 results so you can practice pagination!
# Use our yelp_api variable's search_query method to perform our API call
ramen_0 = yelp_api.search_query(location = LOCATION,
                                term = TERM,
                               offset=0, length=1)

ramen_0.keys()

dict_keys(['businesses', 'total', 'region'])

In [6]:
ramen0 = pd.DataFrame(ramen_0['businesses'])
ramen0.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,FlZ1zdVEKWv7dwqm8Uw8-w,raku-new-york-7,Raku,https://s3-media4.fl.yelpcdn.com/bphoto/GEbZnH...,False,https://www.yelp.com/biz/raku-new-york-7?adjus...,1641,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.4,"{'latitude': 40.7264988089246, 'longitude': -7...","[pickup, delivery]",$$,"{'address1': '342 E 6th St', 'address2': '', '...",+12122281324,(212) 228-1324,2428.039249
1,AudBWxeAr3zHr1ITrTcVpg,izakaya-fuku-jackson-heights,Izakaya Fuku,https://s3-media1.fl.yelpcdn.com/bphoto/mVURSC...,False,https://www.yelp.com/biz/izakaya-fuku-jackson-...,322,"[{'alias': 'japanese', 'title': 'Japanese'}]",4.4,"{'latitude': 40.74640809234451, 'longitude': -...","[pickup, restaurant_reservation, delivery]",$$,"{'address1': '71-28 Roosevelt Ave', 'address2'...",+17182551120,(718) 255-1120,9609.341910

In [7]:
ramen_0['total']

2600

In [8]:
# Obtain ONLY the first two pages of results
ramen_20 = yelp_api.search_query(location = LOCATION,
                                term = TERM,
                               offset=19, length=20)

ramen_20.keys()
# The Yelp API will only return a "page" of 20 results at a time.
# If we want to get the next page of results, we will perform another API call, but we will add an additional argument called "offset."
# The offset is what # result to use as the FIRST result for the page. There are 20 results per page
# If we had 20 businesses in our first result, we would want to add an offset of 20.
# Since there are 0, then we set an offset of 40.

dict_keys(['businesses', 'total', 'region'])

In [9]:
ramen20 = pd.DataFrame(ramen_20['businesses'])
ramen20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,hvrQQ0YWqgw0__OnofqXag,kuu-new-york-2,Kuu,https://s3-media1.fl.yelpcdn.com/bphoto/nlAMPX...,False,https://www.yelp.com/biz/kuu-new-york-2?adjust...,843,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",4.0,"{'latitude': 40.709738, 'longitude': -74.008966}","[pickup, delivery]",$$,"{'address1': '20 John St', 'address2': '', 'ad...",+12125717177,(212) 571-7177,1316.552846
1,Cg5kGSXIelsKX9eqlHr31A,kyuramen-union-square-new-york,Kyuramen - Union Square,https://s3-media1.fl.yelpcdn.com/bphoto/FsfMGP...,False,https://www.yelp.com/biz/kyuramen-union-square...,684,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",4.2,"{'latitude': 40.73310125993799, 'longitude': -...","[pickup, restaurant_reservation, delivery]",$$,"{'address1': '210 E 14th St', 'address2': '', ...",+16466924120,(646) 692-4120,3141.194274

In [10]:
ramen_20['total']

2600

In [11]:
# Concatenate the results into one data frame
businesses = pd.concat([ramen0, ramen20],
                      ignore_index=True)
display(businesses.head(3), businesses.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,FlZ1zdVEKWv7dwqm8Uw8-w,raku-new-york-7,Raku,https://s3-media4.fl.yelpcdn.com/bphoto/GEbZnH...,False,https://www.yelp.com/biz/raku-new-york-7?adjus...,1641,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.4,"{'latitude': 40.7264988089246, 'longitude': -7...","[pickup, delivery]",$$,"{'address1': '342 E 6th St', 'address2': '', '...",+12122281324,(212) 228-1324,2428.039249
1,AudBWxeAr3zHr1ITrTcVpg,izakaya-fuku-jackson-heights,Izakaya Fuku,https://s3-media1.fl.yelpcdn.com/bphoto/mVURSC...,False,https://www.yelp.com/biz/izakaya-fuku-jackson-...,322,"[{'alias': 'japanese', 'title': 'Japanese'}]",4.4,"{'latitude': 40.74640809234451, 'longitude': -...","[pickup, restaurant_reservation, delivery]",$$,"{'address1': '71-28 Roosevelt Ave', 'address2'...",+17182551120,(718) 255-1120,9609.341910
2,lT-yNq6BW2vonJ9Ik-T5vg,tonchin-brooklyn,Tonchin,https://s3-media2.fl.yelpcdn.com/bphoto/dLLNHy...,False,https://www.yelp.com/biz/tonchin-brooklyn?adju...,103,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",4.3,"{'latitude': 40.71676616063315, 'longitude': -...",[],NaN,"{'address1': '109 N 3rd St', 'address2': '', '...",+13474575528,(347) 457-5528,3022.198195

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
37,dUfKnUnwaYKciyoRzDBLEw,izakaya-nana-flushing,Izakaya Nana,https://s3-media2.fl.yelpcdn.com/bphoto/uqKmQy...,False,https://www.yelp.com/biz/izakaya-nana-flushing...,608,"[{'alias': 'izakaya', 'title': 'Izakaya'}]",4.4,"{'latitude': 40.764116, 'longitude': -73.824724}","[pickup, restaurant_reservation, delivery]",$$$,"{'address1': '141-26 Northern Blvd', 'address2...",+17182696866,(718) 269-6866,15706.481209
38,MGd6HFEq1ALD58XWNviSXw,time-out-market-new-york-brooklyn,Time Out Market New York,https://s3-media3.fl.yelpcdn.com/bphoto/Y41f8m...,False,https://www.yelp.com/biz/time-out-market-new-y...,558,"[{'alias': 'food_court', 'title': 'Food Court'}]",4.0,"{'latitude': 40.70342863348067, 'longitude': -...",[],$$,"{'address1': '55 Water St', 'address2': '', 'a...",+19178104855,(917) 810-4855,288.119008
39,r6r-XK_wL02FQdAgaauTxg,kame-new-york-2,Kame,https://s3-media2.fl.yelpcdn.com/bphoto/73cgvn...,False,https://www.yelp.com/biz/kame-new-york-2?adjus...,848,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",4.5,"{'latitude': 40.7474881059799, 'longitude': -7...","[pickup, delivery]",$$,"{'address1': '330 8th Ave', 'address2': None, ...",+19173918587,(917) 391-8587,4679.202389

In [13]:
# Save the businesses as a records-oriented JSON file with an informative filename. (df.to_json("yelp-search-new-york-pizza.json", orient='records'))
businesses.to_json("Data/yelp-search-new-york-ramen.json", orient='records')

In [14]:
businesses.shape

(40, 16)